:root {
  /* You can add global styles to this file, and also import other style files */
  --basket-background-color: saddlebrown;
  --footer-default-background-color: rosybrown;
  --footer-height: 100px;
}
